numpy
pandas
seaborn
matplotlib
jupyter
nltk
scikit-learn
Flask
flask_sqlalchemy
# sudo apt install postgresql postgresql-contrib libpq-dev [do this first]
psycopg2
python-dotenv
gunicorn
flask-cors
-e .